/* CSS Reset */

/*  Box sizing rules */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* End Reset^^^^ */
body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-weight: 400;
}

.emphasis {
  font-style: italic;
}

.align-right {
  text-align: right;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  color: #fff;
}

.btn_std {
  background: orange;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px orange solid;
  border-radius: 2px;
  max-width: 315px;
  padding: 8px 64px;
}

.logo img {
  /* background-color: red; */
  width: 135px;
  height: 30.92px;
}

.openKastButton {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

.navBtnGroup {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.navButtonLine {
  display: inline-block;
  height: 3px;
  width: 25px;
  background-color: #fff;
  /* margin-top: 5px; */
}

.navButtonLine:not(:first-child) {
  margin-top: 5px;
}

section {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 50px;
}

.section_top {
  background-color: #531F62;
  background-image: url(img/gradient-violet-bg.jpg);
  /* padding-top: 40px; */
  background-size: cover;
  color: #fff;
  text-align: center;
}

.section_top img {
  min-width: 260px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 50px;
}

.section_top h1 {
  font-size: 34px;
  line-height: 40px;
}

.subTitle {
  font-size: 18px;
  line-height: 25px;
  padding-top: 20px;
  display: inline-block;
}

.section_top .btn_std {
  margin-top: 30px;
  margin-bottom: 50px;
}

.section_featuredIn {
  background-color: #f4fafa;
}

.section_featuredIn {
  text-align: center;
}

.section_featuredIn .featuresContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  margin-bottom: 50px;
  column-gap: 40px;
  row-gap: 40px;
}

.featuresQuote {
  padding-bottom: 60px;
}

.section_whatIsKast {
  text-align: center;
  background-image: url(img/green-bg.jpg);
  background-size: cover;
  color: #fff;
  padding-bottom: 60px;
}

.section_whatIsKast h2 {
  font-size: 34px;
  margin-bottom: 30px;
}

.section_whatIsKast p:not(:last-child) {
  margin-bottom: 20px;
}